/*  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto {
    font-family: "Noto Serif";
    font-optical-sizing: auto;
}

.inter {
    font-family: "Inter";
    font-optical-sizing: auto;
}

.box {
    max-width: 1280px;
    margin: 0 auto;
}

/*  */
* {
    margin: 0;
    padding: 0;
}

/*  */
/* Reuseable css */
.text-color {
    color: #E95A08;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.border-r {
    border: 1px solid white;
    border-radius: 16px;
}

.bg {
    background: #E95A08;
}

.btn {
    width: 100%;
    padding: 0.5rem 3rem;
    color: white;
    font-size: 1rem;
    border: none;
}

.btn-transparent {
    padding: 1.5rem 3rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border: none;
    text-decoration: underline;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.nav-items ul {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.brand {
    width: 130px;
    height: 80px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #8987A1;
}

.bold {
    font-weight: bold;
    color: black;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Hero */
.hero {
    margin-bottom: 50px;
}

.hero-container {
    display: flex;
    align-items: end;
    margin: 10px;
}


.headings img {
    display: block;
    width: 100%;
}

.headings img p {
    font-size: 22px;

}

.headings h6 {
    font-size: 64px;
    margin-bottom: 10px;

}

/* Our plants */
.plants {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plants-headings {
    text-align: center;

}

.plants-headings h1 {
    font-size: 3rem;
    margin: 1rem;
}

.plants-headings p {
    max-width: 800px;
    font-size: 1.5rem;
    margin: 1rem;
}

.plants-headings p {
    /* width: 800px; */
    margin: 0 auto;
    margin-bottom: 25px;

}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-body img {
    width: 100%;
    margin-bottom: 20px;

}

.card-data {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.card-data h6 {
    margin-bottom: 15px;
}

/* Badge section */
.badge {
    margin-top: 9rem;
    margin-bottom: 6rem;
}

.badge-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    flex: 1;
}

.badge-details {
    width: 550px;
}

.badge-details h1 {
    font-size: 3rem;
    margin-bottom: 20px;


}

.badge-details ul li {
    margin-bottom: 20px;
}

.badge {
    position: relative;
}

.badge-img {
    position: absolute;
    top: -8rem;
    left: 24rem;
    width: 280px;
    height: 280px;
}

/* Deals section */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;

}


.items-1 {

    width: 365px;
    height: 205px;
    grid-area: 2 / 1 / 3 / 3;
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;

    color: white;
}

.items-2 {
    width: 365px;
    height: 205px;
    grid-area: 3 / 1 / 4 / 3;
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    place-content: center;
    color: white;
}

.items-3 {
    width: 750px;
    height: 100%;
    grid-area: 1 / 3 / 6 / 7;
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    place-content: center;
    color: white;
}

/* joint section */
.joint {
    background: linear-gradient(0deg, rgba(7, 51, 79, 0.40) 0%, rgba(7, 51, 79, 0.40) 100%), url(assets/news-letter-bg.png) lightgray 50% / cover no-repeat;
    padding: 7rem 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.joint-container {
    width: 100%;
    max-width: 500px;
    justify-content: center;
    align-items: center;

}

.joint-container h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    color: white;
}

.form {
    display: flex;

}

.form input {
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    border: none;
}

.form button {
    width: 30%;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    box-sizing: border-box;
    border: none;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
}

.details p {
    width: 360px;
    color: #8987A1;
    margin-top: 10px;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    color: gray;
}

.icons {
    display: flex;
    gap: 25px;
}

.icons img {
    width: 36px;
    height: 36px;
}


@media screen and (max-width:480px) {

    /* Nav section */
    nav {
        margin: 20px;
    }

    .nav-items ul li {
        display: none;
    }

    /* Hero section */
    .hero-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-container img {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .headings {
        margin: 0 20px
    }

    .headings h6 {
        font-size: 1.5rem;
        margin-bottom: 10px;

    }

    .headings p {
        font-size: 0.8rem;
    }

    /* Plants section */
    .plants-container {
        margin: 20px;
    }

    .card-body button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .plants-headings {
        margin: 10px;
    }

    .plants-headings h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .plants-headings p {
        font-size: 0.8rem;

    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* badge section */
    .badge {
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    .badge-container {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .badge-container img {
        width: 100%;
    }

    .badge-details {
        width: 90%;

    }

    .badge-details h1 {
        margin-top: 1rem;
        font-size: 1.5rem;

    }

    .badge-details p {
        font-size: 0.8rem;

    }

    .badge-img {
        display: none;
    }

    /* Deals section */
    .grid-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        place-content: center;
        text-align: center;
        align-items: center;
    }

    .items-3 {
        width: 360px;
        height: 205px;
    }

    /* Joint section */
    .joint {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .joint-container h1 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .form input {
        flex: 1;
    }

    .form button {
        width: auto;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 160px 50px 20px;
        gap: 40px;
    }
}