/*  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto {
    font-family: "Noto Serif";
    font-optical-sizing: auto;
}

.inter {
    font-family: "Inter";
    font-optical-sizing: auto;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

/*  */
* {
    margin: 0;
    padding: 0;
}

/*  */
/* Reuseable css */
.text-color {
    color: #E95A08;
}

.bg {
    background: #E95A08;
}

.btn {
    width: 100%;
    padding: 25px 50px;
    color: #ffffff;
    font-size: 1rem;
    border: none;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.nav-items ul {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.brand {
    width: 130px;
    height: 80px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #8987A1;
}

.bold {
    font-weight: bold;
    color: black;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Hero */
.hero {
    margin-bottom: 50px;
}

.hero-container {
    display: flex;
    align-items: end;
    margin: 10px;
}


.headings img {
    display: block;
    width: 100%;
}

.headings img p {
    font-size: 22px;

}

.headings h6 {
    font-size: 64px;
    margin-bottom: 10px;

}

/* Our plants */
.plants {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plants-headings {
    text-align: center;

}

.plants-headings h1 {
    font-size: 48px;
}

.plants-headings p {
    font-size: 22px;
}

.plants-headings p {
    /* width: 800px; */
    margin: 0 auto;
    margin-bottom: 25px;

}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-body img {
    width: 100%;
    margin-bottom: 20px;

}

.card-data {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
}

.card-data h6 {
    margin-bottom: 15px;
}

/* Deals Section */
.deals {
    display: flex;
    flex-direction: column;
}

.img-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 200px;
    color: white;
    font-weight: 700;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(assets/deal-ana.png) lightgray 50% / cover no-repeat;
}

.img-body button {
    width: fit-content;
    background-color: transparent;

}

/* joint section */
.joint {
    background: linear-gradient(0deg, rgba(7, 51, 79, 0.40) 0%, rgba(7, 51, 79, 0.40) 100%), url(assets/news-letter-bg.png) lightgray 50% / cover no-repeat;
    padding: 7rem 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.joint-container {
    width: 100%;
    max-width: 500px;

}

.joint-container h1 {
    font-size: 64px;
    color: white;

}

.form {
    display: flex;

}

.form input,
.form button {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}

.details p {
    width: 360px;
    color: #8987A1;
    margin-top: 10px;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    color: gray;
}

.icons {
    display: flex;
    gap: 25px;
}

.icons img {
    width: 36px;
    height: 36px;
}


@media screen and (max-width:480px) {

    /* Nav section */
    nav {
        margin: 20px;
    }

    .nav-items ul li {
        display: none;
    }

    /* Hero section */
    .hero-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-container img {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .headings {
        margin: 0 20px
    }

    .headings h6 {
        font-size: 24px;
    }

    .headings p {
        font-size: 14px;
    }

    /* Plants section */
    .plants-container {
        margin: 20px;
    }

    .plants-headings {
        margin: 10px;
    }

    .plants-headings h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .plants-headings p {
        font-size: 14px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-body {}

    /* Joint section */
    .joint {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .joint-container h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .form input {
        flex: 1;
    }

    .form button {
        width: auto;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 160px 50px 20px;
        gap: 40px;


    }
}